* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Prompt', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 200;
    color: #444444;
}

.header,
.footer {
    background: #444444;
}

.footer {
    color: white;
}

.container {
    max-width: 1440px;
    margin: 8px auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link,
.link {
    padding: 0 20px;
    line-height: 50px;
    color: #318ce7;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover,
.link:hover {
    color: #e52b50;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.section {
    width: calc(50% - 4px);
    border: 5px solid #2980B9;
    border-radius: 10px;
    padding: 16px;
    background: #EAEDED;
}

.section-title {
    color: #0080ff;
}

pre {
    background: #A9CCE3;
    border-radius: 10px;
    padding: 8px;
}

.contact-list {
    list-style: none;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-item-img {
    width: 28px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 14px;
}

.footer-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.footer-logo-img {
    width: 300px;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}